body
{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header
{
    background-color: #ddd;
}
.logo
{
    padding: 5px;
}

.menu-bar
{
    width: 1300px;
    min-width: 700px;
}
.site
{
    margin: 0;
    padding: 0;
}
.nav
{
    display: inline-block;
    width: 50%;
}
.menu-bar
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}


nav ul li
{
    display: inline;
    color: black;
    font-size: 1.5em;
    
}
nav ul li a
{
    color: black;
    text-decoration: none;
    margin: 10px;
    font-weight: 800;  
}
nav ul li a:hover
{
    color: #3e2723;
}
nav ul li:hover
{
    border: 1px solid black;
}
.grid
{
    display: inline-block;
    
}
.middle
{
    width: 50%;
    background-color: #eceff1;
    padding: 10px;
}
.left
{
    width: 24%;
}
.right
{
    float: right;
    width: 24%;
}
.middle img
{
    width: 49.5%;
}
.column
{
    display: inline;
    width: 50%;
}

























/*
*{
    padding: 0;
    margin: 0;
}
body
{
    margin: 0;
    background: #eeeeee;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.container
{
    width: 80%;
    margin: 0 auto;
    max-width: 1980px;
    margin-left: auto;
    margin-right: auto;
}
header
{
    background: #212121;
    min-width: 1610px;
}
header::after
{
    content: '';
    display: table;
    clear: both;
}
.logo
{
    float: left;
    padding: 0;
    margin: 10px 0;
    background-color: white;
    border-radius: 15px;
}

nav
{
    float: right;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li
{
    display: inline-block;
    margin-left: 70px;
    padding: 25px;
}

nav a
{
    color: #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px;
}

nav ul li a:hover
{
    color: black;
    border-top: 4px solid brown;
    font-weight: 700;
    padding-top: 16px;
    padding-left: 0;

}
.container
{
    max-width: 90%;
}

.content
{
    background-color: white;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;

}
.slider
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}*/