*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #222;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}
header
{
    background: #795548;
}
img
{
    width: 100%;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #795548;
    color: white;
}

.brand-title
{
    font-size: 1.5rem;
    margin: .5rem;
    font-family: "Shadows into Light" ,sans-serif ;
}
.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li
{
    list-style: none;
}
.navbar-links li a
{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-weight: 2rem;
}
.navbar-links li:hover
{
    background: #3e2723;
    /*filter: blur(1px);*/
}
.toggle-button
{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar
{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
section
{
    position: fixed;
    display: flex;
}

.img-container
{
    background-image: url('../img/brear.jpg');
    width: 100%;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    filter: sepia(600px), blur(200px);*/
}
.inner-container
{
    text-align: center;
    position: fixed;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 200px;
}
.inner-container h1
{
    font-size: 7em;
    font-family: "Shadows into Light" ,sans-serif ;
}
.inner-container h2{
    margin-top: -17px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
}
.inner-container a{
    margin-top: 20px;
    font-size: 1.3em;
    font-family: "Source Sans Pro", sans-serif;
}
.btn{
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border: 4px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition:background-color 0.2s ease-out, color 0.2s ease ease-out;
}
.btn:hover, .btn:active
{
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* ------Under 610px wide---------  */
@media (max-width: 610px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}

@media only screen and (max-width:920px) {
    .inner-container{
        margin-top: 100px;
    }

    
}

@media only screen and (max-width:540px) {
    .inner-container{
        margin-top: 90px;
    }
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 1.3em;
        margin-top: 20px;
    }
    
}